
.dashboard {
  max-width: 1200px;  
  height: 100vh;    
  margin: 0 auto;  

          
  
}


.dashboard-title {
  font-size: 2rem;
  color: #5a2d0c;         
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;;
 
}


.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  text-align: left;
 
  margin-bottom: 2rem;
 
}


.projects-section,
.tasks-section {
  display: flex;
  

  gap: 1rem;
 
 
  border-radius: 8px;
 
  margin-bottom: 2rem;
justify-content: center;


 
}


.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  background-color: rgb(222, 222, 234);
  font-size: 1rem;
  font-weight: 600;
  color: red;
  gap: 5px;
}


.stat-value {
  font-weight: 900;
  color: #333;
  font-size: larger;

}

.stat-value.completed {
  color: #28a745; 
}

.stat-value.active {
  color: #007bff; 
}


.item-1, .item-2, .item-3 {
width: 200px;
height: 100px;
box-shadow: 0 8px 8px rgba(0,0,0,0.08);
border-radius: 6px;
border:2px solid #c2c0c0 ;
transition: background-color 0.3s ease;
}

.tasks-section :hover{
    background-color:burlywood;
    transform: scale(1) translateY(10px);
    transition: transform 0.4s;
  
}
.projects-section :hover{
    background-color:burlywood;
      transform: scale(1) translateY(10px);
    transition: transform 0.4s;
  
}