
.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
 
  padding: 2rem;
  background-color:white;
  justify-content: center;
 
  border: black ;
  background: url(../assets/images.jpg);
}
.login-text{
  max-width: 28rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;

  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  text-wrap: 2px;
  
  
}
.title{
  font-size: 4rem;
 
  font-family:cursive
}
.login-text p:nth-of-type(1){
  font-size:4rem;
  color: rgb(4, 4, 48);
  font-family: fantasy;
  font-weight: bolder;
}

.circle {
  position: absolute;
  width: 200px;
  height: 90vh;

  top:5;
  background: rgb(11, 11, 71);
   border-radius: 0px 333px 444px 0px;
   left: -10px;

  padding: 8px; 

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow-y: hidden;
  
}

.circle-title {
  width: 100%;
  font-size: 3rem; 
  font-weight: 800;
  color:rgb(75, 75, 241); 
  text-align: center;
  padding: 4px;
  left: 4px;
  overflow-wrap: break-word;
}
.login-left {
 
  display: flex;
  flex: 3;



}


.login-box {
  width: 100%;
  max-width: 20rem;
  height: 80%;
  background: white;
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(2, 2, 46); 
  padding: 2rem;
  margin-top: 24px;
}

.login-heading {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 4px;
}


.login-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #6b7280; 
  background: transparent;
  color: black;
  outline: none;
}

.login-input::placeholder {
  color: black;
}


.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button {
  background-color: #3b82f6; 
  width: 100%;
  color: #312e81;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: #e5e7eb; 
}


