
.register-container{
     
     width:100vw;
     height:100vh;
     display:flex;
     padding: 4px;
     background: url(../assets/images.jpg);
    
   
    
}
.box{
    background-color:orangered;
   
    width: 20vw;
    height: 20vh;
    border-radius: 0px 000px 999px 888px;
    left: -50px;
}
.register-box{
    width:420px;
    height:90vh ;
 
    border-radius: 50px 50px 50px 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
   padding: 4px;
    align-items: center;
    justify-content: center;
     

}
.register-content{
    width: 64%;
   padding: 16px;
    text-align: center;   
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: white;
    border-radius: 50px;
   
  
}
.register-input{ 
    padding: 8px;
    width: 88%;
    border: 2px solid gray; 
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 4px;
   
    align-items: center;
     
    
    

}
.label-content{
  
 
  align-self: flex-start;  
  font-size: smaller;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   padding: 4px;
    font-size: 18px;
    padding-left: 24px;
 


}
.sumbit-button{
    color: white;
    width: 50%;
    padding: 8px;
    background-color: rgba(23, 23, 236, 0.575);
    border-radius:10px 10px 10px 10px ;
    margin-top: 8px;

}
